.cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    transition: width 0.3s, height 0.3s;
    pointer-events: none;
    background-size: contain;
    display: initial;
}

.cursor-invisible {
    display: none;
}
